.fondo {
  background-image: url("https://img.freepik.com/fotos-premium/estetoscopio-fecha-pagina-calendario-sobre-fondo-azul-concepto-medico-cita-medica_293060-2158.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  justify-content: space-evenly; /* Centra horizontalmente */
  align-items: center;
}
